<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <h1>My Products</h1>
        <p>List of all my products...</p>
        <% if (prods.length <= 0) { %>
            <h2>No products found.</h2>
        <% } else { %>
            <div class="product-list">
                <% prods.forEach(product => { %>
                    <div class="product-card">
                        <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                        <h2><%= product.title %></h2>
                        <p><%= product.description %></p>
                        <p class="price">$<%= product.price %></p>
                        <div>
                            <a href="/products/<%= product.id %>" class="add">View Details</a>
                            <%- include('../includes/add-to-cart.ejs', {product:product}) %>

                             
                        </div>
                       </div>
                <% }) %>
            </div>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>